{% extends 'appdashboard.html' %}

{% block title %}Products{% endblock %}
{% block header %}Product List{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Products</h3>
        <div class="card-tools">
            <a href="{% url 'product:product_add' %}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Add New Product
            </a>
        </div>
    </div>
    <div class="card-body">
        {% if products %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Stock</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>
                            {% if product.description %}
                                {{ product.description|truncatechars:50 }}
                            {% else %}
                                <span class="text-muted">No description</span>
                            {% endif %}
                        </td>
                        <td>{{product.price}}</td>
                        <td><img src='/media/{{product.image}}' style="width:100px;height:100px;"></td>
                        <td>{{product.stock}}</td>
                        <td>{{product.category.name}}</td>
                        <td>
                            <a href="{% url 'product:product_details' product.id %}" class="btn btn-sm btn-info">
                                <i class="fas fa-eye"></i> View
                            </a>
                            <a href="{% url 'product:product_delete' product.id %}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                            <a href="{% url 'product:product_edit' product.id %}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i> Edit
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">
            No categories found. <a href="{% url 'product:product_add' %}">Add your first product</a>.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
